.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity 150ms ease-in-out;
  backdrop-filter: blur(1px);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 260px;
  z-index: 1000;
  max-width: calc(100% - 2rem);
  border-radius: 5px;
  background-color: #222;
  transition: transform 150ms ease-in-out;
}